.add__node{
	position: fixed;
	right: 0;
	height: 100vh;
	background: white;
	width: 100%;
	max-width: 400px;
	z-index: 1000;
	top: 0;
	padding: 1em 2em;
	overflow-y: auto;
	padding-bottom: 2em;
}

.error__message{
	position: fixed;
	color: white;
	background: red;
	padding: 1em;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	max-width: 320px;
	z-index: 1001;
}

.add__node .preview-two{
	position: fixed;
	width: 80%;
	z-index: 1010;
	background: #fff;
	inset:  0;
	margin: auto;
	height: 90%;
	box-shadow: 0px 0px 8px lightgrey;
}

.add__node .preview-two span{
	position: absolute;
	top: 20px;
	right: 30px;
	font-weight: 500;
	font-size: 1.2em;
	color: white;
	background: black;
	height: 30px;
	width: 30px;
	display: grid;
	place-content: center;
	border-radius: 50%;
	cursor: pointer;
}

.add__node .preview-two .preview-two-container{
	display: flex;
	flex-direction: column;
	padding: 1em;
	height: 100%;
	width: 90%;
	margin: 0 auto;
}

.add__node .preview-two .preview-two-container > h1{
	margin: 0 0 1em;
}

.add__node .preview-two .preview-two-container > .flex{
	width: 100%;
	display: flex;
	height: 100%;
}

.add__node .preview-two .preview-two-container > .flex > .table-container{
	min-width: 400px;
	max-height: 600px;
	flex: 0.65;
	overflow-x: auto;
	max-width: 700px;
	max-height: 400px;
	overflow-y: auto;
	background-color: lightgray;
}

.add__node .preview-two .preview-two-container > .flex > .form__container{
	flex: 0.35;
	min-height: 100%;
	margin-left: 10px;
	overflow-y: auto;
	padding: 1em;
	border: 1px solid lightgrey;
	max-height: 500px;
	overflow-y: auto;
}

.add__node .preview-two .preview-two-container > .flex > .form__container > label{
	font-weight: 600;
	font-size: 1em;
	text-transform: uppercase;
}

.add__node .preview-two .preview-two-container > .flex > .form__container > button{
	display: block;
	margin-top: 1em;
	padding: 1em;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 5px;
	cursor: pointer;
}

.add__node .preview-two .preview-two-container > .flex > .table-container > table{
	width: 100%;
}

.add__node .preview-two .preview-two-container > .flex > .table-container > table > tbody > tr{
	position: relative;
}

.add__node .preview-two .preview-two-container > .flex > .table-container > table > thead > tr > th{
	min-width: 150px;
	font-size: 1em;
	height: 40px;
}

.add__node .preview-two .preview-two-container > .flex > .table-container > table > tbody > tr > td{
	min-width: 150px;
	font-size: 1em;
}

.add__node .preview-two .preview-two-container > .flex > .table-container > table > tbody > tr > p{
	position: absolute;
	right: 10px;
	background-color: red;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 1em;
	margin-top: 10px;
	margin-left: 5px;
	cursor: pointer;
	visibility: hidden;
	transition: 0.2s;
}

.add__node .preview-two .preview-two-container > .flex > .table-container > table > tbody > tr:hover > p{
	visibility: visible;
}

.add__node .container{
	min-height: 100%;
}

.add__node .container span{
	position: absolute;
	top: 20px;
	right: 30px;
	font-weight: 500;
	font-size: 1.2em;
	color: white;
	background: black;
	height: 30px;
	width: 30px;
	display: grid;
	place-content: center;
	border-radius: 50%;
	cursor: pointer;
}

.add__node h1{
	color: #344055;
	text-align: center;
	font-family: sans-serif;
}

.add__node form{
	margin-top: 1em;
}

.add__node form label{
	display: block;
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-weight: 500;
	color: #6E7C96;
}

.add__node input{
	width: 100%;
	padding: 1em;
	outline: none;
	border-radius: 5px;
	border: 1px solid #CECED6;
}

.add__node form .input__row{
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 1.5em;
}

.add__node form .types{
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	gap: 5px;
	margin: 0;
}

.add__node form .headers__input__section input{
	margin-bottom: 10px;
}

.add__node form .types label{
	color: black;
	font-size: 0.8em;
	font-weight: 500;
	display: flex;
	align-items: center;
	width: 30%;
	cursor: pointer;
}

.add__node form .types label p{
	/*flex: 1;*/
	min-width: fit-content;
	background: transparent !important;
	color: black;
	padding-top: 0;
	padding-bottom: 0;
}

.add__node form .types label input{
	width: fit-content;
}

.add__node form button{
	display: block;
	width: 100%;
	padding: 0.8em;
	margin-bottom: 0.7em;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #CECED6;
}

.add__node .preview{
	width: 100%;
	background: #CECED6;
	height: 100%;
	/*flex: 1em;*/
	margin-top: 1em;
	overflow: auto;
	height: 260px;
}

.add__node .preview table{
	width: 100%;
}

.add__node .preview table th, .add__node .preview table td{
	padding: 1em;
	font-size: 1em;
}

.add__node .preview table tr{
	position: relative;
}

.add__node .preview table tr p{
	background-color: red;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 1em;
	margin-top: 10px;
	margin-left: 5px;
	cursor: pointer;
	visibility: hidden;
	transition: 0.2s;
	position: absolute;
	right: 10px;
	transition: 0.2s;
}

.add__node .preview table tr:hover > p{
	visibility: visible;
}