table {
	border: 1px solid black;
	width: 100px;
}

table > tbody > tr > td{
	border: 1px solid black !important;
	font-size: 0.5em;
	padding: 0.4em;
	text-align: center;
}

table > thead > tr > th{
	text-align: center !important;
	color: white;
	font-weight: 500;
	background: green;
	font-size: 0.6em;
	padding: 0.4em 0.6em;
	text-transform: capitalize;
}
