table {
	border: 1px solid black;
	width: 100px;
	position: relative;
}

.container{
	position: relative;
	display: flex;
	gap: 5px;
}

.container > p{
	/*position: absolute;
	left: -49px;*/
	height: fit-content;
	width: fit-content;
	min-height: 40px;
	min-width: 40px;
	max-height: 60px;
	max-width: 60px;
	padding: 0.2em;
	color: white;
	text-align: center;
	display: grid;
	place-content: center;
	background: green;
	font-size: 0.6em;
	position: absolute;
	right: calc(100% + 5px);
}

table > tbody > tr > td{
	border: 1px solid black !important;
	font-size: 0.5em;
	padding: 0.4em;
	text-align: center;
}

table > thead > tr > th{
	text-align: center !important;
	color: white;
	font-weight: 500;
	background: green;
	font-size: 0.6em;
	padding: 0.4em 0.6em;
	text-transform: capitalize;
}
